
<div style="background-image: linear-gradient(rgba(0,0,0.1,0.3),rgba(0, 0, 0, 0.5)),url(<%= image_path('home-banner.jpg')%>); background-size:cover;height:100vh; width:100vw;
">
<div class="container banner">
<h1 class="text-center">Welcome to HAPPY ENDING</h1>
<%= link_to "Get started", services_path, class: "btn btn-primary" %>
</div>
</div>
